:root {
  --color-grey: grey;
  --color-dark-grey: #616161;
  --color-normal-grey: #a4a4a4;
  --color-light-grey: #e0e0e0;
  --color-normal-green: #17ce5f;
  --color-black: black;
  --color-white: #fafafa;
  --color-dark-white: #f5f5f5;
  --color-icon: #2e363e;

  --small-avatar: 47px;
  --normal-avatar: 57px;
  --big-avatar: 67px;

  --padding: 15px;

  --division-bar: 1px solid var(--color-light-grey);
}
